/* All of the following is from Net Ninja, except that I added footer bits and changed some colors************ */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar, .footer {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1, h2 {
  color: lightslategray;
}
.navbar .links, .footer .links {
  margin-left: auto;
}
.navbar a, .footer a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover, .footer a:hover {
  color: red;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
